<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/stylesheets/pintuer.css">
<link rel="stylesheet" href="/stylesheets/admin.css">
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel margin-top">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>修改栏目</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="/hcateedit" enctype="application/x-www-form-urlencoded">

      <input style="width: 0px;height: 0px;opacity:0;" type="text" name="id" value="<%= data[0].id %>">
          <div class="form-group">
            <div class="label">
              <label>栏目标题：</label>
            </div>
            <div class="field">
              <input type="text" class="input w50" name="name" value="<%=  data[0].name %>" />
              <div class="tips"></div>
            </div>
          </div>


      <div class="form-group">
        <div class="label">
          <label>英文名：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="enanme" value="<%= data[0].enname %>" />
          <div class="tips"></div>
        </div>
      </div>


      <div class="form-group">
        <div class="label">
          <label>栏目图片：</label>
        </div>
        <div class="field" style="position: relative;">
               <input type="text" id="urldl" name="img" class="input tips" style="width:25%; float:left;"  value="<%= data[0].img %>" data-toggle="hover" data-place="right" data-image="" />
               <input type="file"  class="button bg-blue margin-left" id="hhhh" value="+ 浏览上传"  style="display: inline-block;width:20%;height: 100%;float:left;">
                <div class="tipss">图片尺寸：1920*200</div>
                <img src="" id="tip" alt="" style="background: #000;width: 200px;height:200px;position: absolute;z-index: 99999999;right: 0px;top: 0px;background-position: center;display: block;background-size: coverl；">
        </div>
          <div class="tips"></div>
        </div>
      </div>

  <script>
    var img=document.querySelector('#urldl');
    var imgname=document.querySelector('#hhhh');
    var opop=document.querySelector('#tip');
    opop.src=img.value;
    imgname.onchange=function(){
      var formdata=new FormData();
      formdata.append('data',imgname.files[0]);
      //ajax上传
      var xml=new XMLHttpRequest();
      xml.open('post','/upload');
      xml.send(formdata);
      xml.onreadystatechange=function(){
        if(xml.readyState==4&&xml.status==200){
          img.value=xml.response;
          document.querySelector('#tip').src='/'+xml.response;
        }
      }
    }
  </script>

      <div class="form-group">
        <div class="label">
          <label>栏目分类：</label>
        </div>
        <div class="field">
          <select  name="pid" id="" class="input tips" >

            <option value="0"  class="input tips" >一级栏目</option>

          </select>
          <div class="tips"></div>
        </div>
      </div>


      <div class="form-group">
        <div class="label">
          <label>是否公开：</label>
        </div>
        <div class="field">
          <label class="button active">
            <span class="icon icon-check"></span>
            <input name="isshows" value="1" type="radio" >是
          </label>
          <label class="button active"><span class="icon icon-times"  <% if(data[0].isshow){%> checked="checked"  <% } %>   ></span>
            <input name="isshows" value="0"  type="radio"   <% if(data[0].isshow){%> checked="checked"  <% } %>    >否
          </label>
          <div class="tips"></div>
        </div>
      </div>




      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body></html>