<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/stylesheets/pintuer.css">
<link rel="stylesheet" href="/stylesheets/admin.css">
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/pintuer.js"></script>
</head>
<body>

<form method="post" action="/hlist" id="listform">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
    <table class="table table-hover text-center">
      <tr>
        <th width="100" style="text-align:left; padding-left:20px;">ID</th>
        <th width="10%">排序</th>
          <th>标题</th>
          <th>内容</th>
        <th>图片</th>
          <th>点击数</th>
        <th>分类名称</th>
          <th>是否公开</th>
        <th>更新时间</th>
          <th>作者</th>
        <th>操作</th>
      </tr>
      <volist name="list" id="vo">

          <% for(var i=0;i<data.length;i++){ %>
        <tr>
          <td style="text-align:left; padding-left:20px;"><input type="checkbox" name="id" value="<%= data[i].id %>"  class="pldel"/><%= data[i].id %></td>
          <td><input type="text" name="sort" value="<%= i %>" style="width:50px; text-align:center; border:1px solid #ddd; padding:7px 0;" /></td>
            <td><%= data[i].title %></td>
          <td><%= data[i].text.slice(0,10) %>...</td>
            <td width="10%"><img src="<%= data[i].img %>" alt="" width="70" height="50" /></td>
          <td><%= data[i].clicknum %></td>
          <td><%= data[i].feilei %></td>
          <td><%= data[i].public %></td>
          <td><%= data[i].time %></td>
          <td><%= data[i].pid %></td>
          <td><div class="button-group"> <a class="button border-main" href="/hadd/zhi/<%= data[i].id %>"><span class="icon-edit"></span> 修改</a> <a class="button border-red" href="/hlist/del/<%= data[i].id %>"><span class="icon-trash-o"></span> 删除</a> </div></td>
        </tr>
        <% } %>

      <tr>
        <td style="text-align:left; padding:19px 0;padding-left:20px;">
            <input type="checkbox" id="checkall"/>
          全选 </td>
        <td colspan="7" style="text-align:left;padding-left:20px;width: 100%;">
            <a href="javascript:void(0)" class="button border-red icon-trash-o" style="padding:5px 15px;" onclick="DelSelect()"> 删除</a>
                操作：
                      <select name="ishome" style="padding:5px 15px; border:1px solid #ddd;" onchange="changeishome(this)">
                        <option value="">首页</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                      </select>
                      <select name="movecid" style="float:right;padding:5px 15px; border:1px solid #ddd;" onchange="changecate(this)">
                        <option value="">请选择分类</option>
                        <option value="">产品分类</option>
                        <option value="">产品分类</option>
                        <option value="">产品分类</option>
                        <option value="">产品分类</option>
                      </select>
            <label for="" style="float: right;vertical-align: middle;display: inline-block;"> 移动到：</label>
      </tr>
      <tr>
        <td colspan="8">
            <div class="pagelist">

                    <a href="">上一页</a>
                    <span class="current">1</span>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">下一页</a>
                    <a href="">尾页</a>

             </div>
        </td>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">
//全选
$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
});

//批量删除
function DelSelect(){
	var checkbox=[];
	 $(".pldel").each(function(){
    	  if (this.checked==true) {
    		checkbox.push(this.value);
    	  }
	});

        if (checkbox.length>0){
            var t=confirm("您确认要删除选中的内容吗？");
               location.href='/hlist/pldel/'+checkbox;
            }else{
                alert("请选择您要删除的内容!");
                return false;
            }
}

//批量排序
function sorts(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){	
		
		$("#listform").submit();		
	}
	else{
		alert("请选择要操作的内容!");
		return false;
	}
}


//批量首页显示
function changeishome(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");		
	
		return false;
	}
}

//批量推荐
function changeisvouch(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");	
		
		return false;
	}
}

//批量置顶
function changeistop(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){		
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");		
	
		return false;
	}
}


//批量移动
function changecate(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){		
		
		$("#listform").submit();		
	}
	else{
		alert("请选择要操作的内容!");
		
		return false;
	}
}


</script>
</body>
</html>